body {
  font-family: 'Fredoka One', cursive;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.form {
  padding: 20px;
  text-align: center;
  padding: 1em;
  margin: 5em;
  border: 4px solid black;
  height: 300px;
  width: 300px;
  float: left;
}

.formRight {
  padding: 20px;
  text-align: left;
  padding: 1em;
  margin-right: 20em;
  margin-top: 5em;
  border: 4px solid black;
  width: 300px;
  float: right;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.student-home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: 0; */
  left: 0;
  background-color: #e9c46a;
}

.student-home-input {
  font-size: 30px;
  text-align: center;
  height: 40px;
  width: 170px;
  border-radius: 5px;
  outline: none;
}

.student-home.quiz-code {
  display: flex;
  padding-bottom: 50px;
}

.quiz-code-btn {
  font-size: 20px;
  margin-top: 20px;
  color: white;
  background-color: #264653;
  box-shadow: 0px 5px 0px 0px #1c333c;
  border-radius: 5px;
  height: 40px;
  border: none;
  outline: none;
}

.quiz-code-btn:hover {
  background-color: #2f5767;
}

.quiz-code-form {
  text-align: center;
}

.quiz-lists {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 3;
  flex-basis: 0;
}

.quiz-lists.statsClass {
  width: 100px;
  height: 50px;
}

/* student quiz view */

.s-quiz-view-div {
  display: flex;
  flex-direction: column;
  background-color: #e9c46a;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}

.quiz-question {
  font-size: 30px;
  padding: 30px;
  text-align: center;
  background-color: #2a9d8f;
  /*   margin-bottom: 80px; */
}

.answer-btn {
  font-size: 20px;
  height: 180px;
  width: 300px;
  text-decoration: none;
  outline: none;
  border: none;
  overflow: auto;
  border-radius: 5px;
}

.answer-btn:active,
.quiz-code-btn:active,
.quiz-complete-home-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.a1-btn {
  background-color: #4c4cff;
  box-shadow: 0px 7px 0px 0px #0000bf;
}

.a1-btn:hover {
  background-color: #7272ff;
}

.a2-btn {
  background-color: #fe4a49;
  box-shadow: 0px 7px 0px 0px #d10101;
}

.a2-btn:hover {
  background-color: #fe6262;
}

.a3-btn {
  background-color: #86e7b8;
  box-shadow: 0px 7px 0px 0px #27c579;
}

.a3-btn:hover {
  background-color: #a1ecc8;
}

.a4-btn {
  background-color: #69309d;
  box-shadow: 0px 7px 0px 0px #4a226f;
}

.a4-btn:hover {
  background-color: #8947c6;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.button-row button {
  margin-right: 30px;
  margin-left: 30px;
}

/* after student selects answer */

#display-answer {
  text-decoration: underline;
  font-size: 1.5em;
  color: #264653;
  padding: 100px;
}

#you-answered {
  margin-top: 100px;
  text-align: center;
}

/* student view after complete quiz -- back to home */

.completed-msg {
  margin-top: 100px;
  text-align: center;
}

.quiz-complete-home-btn {
  font-size: 25px;
  margin-top: 20px;
  color: white;
  background-color: #4c4cff;
  box-shadow: 0px 5px 0px 0px #0000bf;
  border-radius: 5px;
  height: 40px;
  border: none;
  outline: none;
}

.quiz-complete-home-btn:hover {
  background-color: #7272ff;
}
